<div class="copy-right">
   <div class="container">
      <div class="row">
         <center>
            <div class="col-sm-4 col-lg-4 col-md-4 container">
               <h5 class="h5-mapa-site">MAPA DO SITE</h5>
               <ul>
                  <li id="home" class="my-list-style"><a class="my-a-style" href="">HOME</a></li>
                  <li id="quem-somos" class="my-list-style"><a class="my-a-style" href="">QUEM SOMOS</a></li>
                  <li id="contato" class="my-list-style"><a class="my-a-style" href="">CONTATO</a></li>
               </ul>
            </div>
         </center>
         <center>
            <div class="col-sm-4 col-lg-4 col-md-4 ">
               <h5 class="h5-pagamento">FORMAS DE PAGAMENTO</h5>
               <div class="col-sm-12 col-lg-12 col-md-12 pag-div">
                  <div class="row">
                     <img class="pag-img" src="images/pagamentos/pag1.jpg">
                     <img class="pag-img" src="images/pagamentos/pag2.jpg">
                     <img class="pag-img" src="images/pagamentos/pag3.jpg">
                  </div>
                  <div class="row">
                     <img class="pag-img" src="images/pagamentos/pag4.jpg">
                     <img class="pag-img" src="images/pagamentos/pag5.jpg">
                     <img class="pag-img" src="images/pagamentos/pag6.jpg">
                  </div>
                  <div class="row">
                     <img class="pag-img" src="images/pagamentos/pag7.jpg">
                     <img class="pag-img" src="images/pagamentos/pag8.jpg">
                     <img class="pag-img" src="images/pagamentos/pag9.jpg">
                  </div>
               </div>
               <h5 class="h5-mercado-livre">Via Mercado Livre</h5>
            </div>
         </center>
         <center>
            <div class="col-sm-4 col-lg-4 col-md-4">
               <h5 class="h5-atendimento">ATENDIMENTO</h5>
               <ul>
                  <li id="fone" class="my-list-style"><a class="my-a-style" href="">Fone: (83) 3248-2927</a></li>
                  <li id="email" class="my-list-style"><a class="my-a-style" href="">Email: thiago.luiz.vendedor@gmail.com</a></li>
                  <li id="skype" class="my-list-style"><a class="my-a-style" href="">Skype: thiago.luiz.vendedor</a></li>
               </ul>
            </div>
         </center>
      </div>
      <p class="container copy">Copyright &copy; 2016 - by Thiago Luiz. All rights reserved.</p>
   </div>
</div>