<nav id="nav-bar-main" class="navbar navbar-custom2" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
          <a href="/#/">
            <img class="navbar-logo" src="images/logo2.png" alt="">
          </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav">
                <li class="active"><a href="/#colecionaveis" >COLECIONÁVEIS</a></li>
                <li class="active"><a href="/#lancamentos">LANÇAMENTOS</a></li>
                <li class="active"><a href="/#embreve">EM BREVE</a></li>
                <li class="active"><a href="/#diversos">DIVERSOS</a></li>
                <li class="active"><a href="/#quemsomos">QUEM SOMOS</a></li>
                <li class="active"><a href="/#contato" >CONTATO</a></li>
         </ul>
      </div>
   </div>
</nav>